@import "variables";

body {
  padding: 0;
  margin: 0;
}
.wrapper {
  width: $desktop-width;
  margin: 0 auto;
}
.header_top {
  height: 32px;
  background-color: #FAFBFC;
}
.location svg {
  stroke: #708598;
  stroke-width: 1;
}

.header_bottom {
  height: 76px;
  background-color: white;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #9B51E0;
  color: white;
  border-radius: 50%;
}
